.git
.github
.gradle
.idea
.kotlin
**/Dockerfile
docker-bake.hcl
docker-compose.yml
docker/docker-compose.yaml
docker/postgres
doc
scripts
build
**/build
**/node_modules
**/.nx
**/dist
**/.pnpm-store
data
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
scripts/shell/logs
