.git
.github
.gradle
.idea
.kotlin
build
**/build
!simplepoint-services/simplepoint-service-authorization/build/install/**
!simplepoint-services/simplepoint-service-common/build/install/**
!simplepoint-services/simplepoint-service-host/build/install/**
**/node_modules
data
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
scripts/shell/logs

