.git
.github
.gradle
.idea
.kotlin
build
**/build
!simplepoint-services/simplepoint-service-authorization/build/
!simplepoint-services/simplepoint-service-authorization/build/install/
!simplepoint-services/simplepoint-service-authorization/build/install/**
!simplepoint-services/simplepoint-service-common/build/
!simplepoint-services/simplepoint-service-common/build/install/
!simplepoint-services/simplepoint-service-common/build/install/**
!simplepoint-services/simplepoint-service-auditing/build/
!simplepoint-services/simplepoint-service-auditing/build/install/
!simplepoint-services/simplepoint-service-auditing/build/install/**
!simplepoint-services/simplepoint-service-ai/build/
!simplepoint-services/simplepoint-service-ai/build/install/
!simplepoint-services/simplepoint-service-ai/build/install/**
!simplepoint-services/simplepoint-service-dna/build/
!simplepoint-services/simplepoint-service-dna/build/install/
!simplepoint-services/simplepoint-service-dna/build/install/**
!simplepoint-services/simplepoint-service-host/build/
!simplepoint-services/simplepoint-service-host/build/install/
!simplepoint-services/simplepoint-service-host/build/install/**
**/node_modules
**/.pnpm-store
data
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
scripts/shell/logs
